body {
    font-family: "Permanent Marker", cursive;
    background-color: powderblue;
    box-sizing: border-box;
}

.header-title {
    margin: 1rem;
    font-size: 5rem;
}
@media only screen and (max-width: 600px) {
    .header-title {
        font-size: 2rem;
    }
}

header {
    display: flex;
}

h1 {
    margin: 1rem;
}

.logo {
    transform: translateY(2px);
}

.submit-btn {
    border: none;
    background-color: transparent;
    font-family: "Permanent Marker", cursive;
    width: 9rem;
    font-size: 1.2rem;
}

.submit-btn:hover {
    cursor: pointer;
    color: dodgerblue;
    border: 3px solid dodgerblue;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: calc(260px, 2rem);
    padding: 0;
    margin: 1rem;
}
@media only screen and (max-width: 800px) {
    .images-container {
        display: flex;
        flex-direction: column;
    }
}

.image {
    width: 100%;
    height: 260px;
    margin: 0 auto;
    object-fit: cover;
}

.image-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    line-height: 15px;
    margin: 0 0.5rem;
}

.image-description {
    margin: 0;
    font-size: 16px;
}
@media only screen and (max-width: 1100px) {
    .image-description {
        margin: 0 0.3rem;
        font-size: 14px;
    }
}
@media only screen and (max-width: 950px) {
    .image-description {
        font-size: 12px;
    }
}
@media only screen and (max-width: 800px) {
    .image-description {
        margin: 0.3rem;
        font-size: 16px;
    }
}

.image__form--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image__form {
    text-align: center;
}

.image__form--title {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.input__file--label {
    padding: 0 1rem;
}

.input__file--label:hover {
    cursor: pointer;
    color: dodgerblue;
}

.image-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 260px 2rem;
    align-content: start;
    justify-content: start;
    list-style: none;
    border: 2px solid white;
    margin-left: 3%;
    margin-bottom: 3%;
    background-color: rgba(255, 255, 255, 0.6);
}
@media only screen and (max-width: 800px) {
    .image-card {
        margin-bottom: 5%;
        margin-left: 0;
    }
}

.title {
    font-size: 18px;
}
@media only screen and (max-width: 1100px) {
    .title {
        margin: 0 0.3rem;
        font-size: 16px;
    }
}
@media only screen and (max-width: 950px) {
    .title {
        font-size: 14px;
    }
}
@media only screen and (max-width: 800px) {
    .title {
        margin: 0.3rem;
        font-size: 18px;
    }
}

.no_more_images,
.loading {
    text-align: center;
    font-size: 2rem;
}

.image__detail {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.6);
    backdrop-filter: blur(8px);
    width: 100%;
    color: aliceblue;
    height: 100%;
    overflow-y: auto;
    z-index: 50;
}
@media only screen and (max-width: 600px) {
    .image__detail {
        flex-direction: column;
    }
}

.image__detail--header {
}
@media only screen and (max-width: 600px) {
    .image__detail--header {
        width: 100%;
        margin-top: 8rem;
    }
}

.close-btn {
    color: powderblue;
    font-size: 3rem;
    position: absolute;
    top: 2%;
    left: 95%;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .close-btn {
        color: powderblue;
        font-size: 2rem;
        position: absolute;
        top: 2%;
        left: 90%;
        cursor: pointer;
    }
}

.image__detail--add-comment {
    color: dodgerblue;
}

.image__detail--comments-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 2rem;
}

.image__detail--title {
    margin: 1rem auto;
    text-align: center;
    color: dodgerblue;
}
@media only screen and (max-width: 600px) {
    .image__detail--title {
        margin: 0 auto;
    }
}

.image__detail--nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow__container {
    width: 2rem;
    margin: 1rem;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 6rem;
    text-decoration: none;
    color: powderblue;
}
@media only screen and (max-width: 600px) {
    .fa-angle-left,
    .fa-angle-right {
        font-size: 3rem;
    }
}

.fa-angle-left:hover,
.fa-angle-right:hover {
    color: dodgerblue;
    cursor: pointer;
}

.image__detail--img {
    margin: 1rem auto;
    object-fit: cover;
}
@media only screen and (max-width: 600px) {
    .image__detail--img {
        width: 300px;
        height: 300px;
    }
}

.image__detail--creation-date,
.image__detail--description {
    text-align: center;
}

.image__detail--form {
    display: flex;
    flex-direction: column;
}

.image__detail--form button {
    margin: 1rem;
    color: white;
    margin: 1rem auto;
    padding: 3px;
}

.image__detail--form button:hover {
    padding: 0;
    color: lightskyblue;
    border: 3px solid lightskyblue;
}

.image__detail--comments {
    margin: 0;
    width: 25rem;
}

.comments__header {
    margin-bottom: 0;
    color: dodgerblue;
}

.comments__text {
    color: lightskyblue;
}

/* Spinner */
.lds-spinner {
    color: dodgerblue;
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 1rem;
}
.lds-spinner div {
    transform-origin: 20px 20px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 3px;
    height: 18px;
    border-radius: 20%;
    background: dodgerblue;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
