body {
    font-family: "Permanent Marker", cursive;
    background-color: powderblue;
}

.header-title {
    margin: 1rem;
    font-size: 70px;
}

header {
    display: flex;
}

h1 {
    margin: 1rem;
}

.logo {
    transform: translateY(2px);
}

.submit-btn {
    border: 3px solid black;
    background-color: white;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: calc(260px, 2rem);
    padding: 0;
    margin: 1rem;
}
@media only screen and (max-width: 800px) {
    .images-container {
        display: flex;
        flex-direction: column;
    }
}

.image {
    width: 100%;
    height: 260px;
    margin: 0 auto;
    object-fit: cover;
}

.image-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
}

.image-description {
    margin: 0;
    font-size: 16px;
}
@media only screen and (max-width: 1100px) {
    .image-description {
        margin: 0 0.3rem;
        font-size: 14px;
    }
}
@media only screen and (max-width: 950px) {
    .image-description {
        font-size: 12px;
    }
}
@media only screen and (max-width: 800px) {
    .image-description {
        margin: 0.3rem;
        font-size: 16px;
    }
}

.image__form--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image__form {
    text-align: center;
}

.image__form--title {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.image-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 260px 2rem;
    align-content: start;
    justify-content: start;
    list-style: none;
    border: 2px solid white;
    margin-left: 3%;
    margin-bottom: 3%;
    background-color: rgba(255, 255, 255, 0.6);
}
@media only screen and (max-width: 800px) {
    .image-card {
        margin-bottom: 5%;
        margin-left: 0;
    }
}

.title {
    font-size: 18px;
}
@media only screen and (max-width: 1100px) {
    .title {
        margin: 0 0.3rem;
        font-size: 16px;
    }
}
@media only screen and (max-width: 950px) {
    .title {
        font-size: 14px;
    }
}
@media only screen and (max-width: 800px) {
    .title {
        margin: 0.3rem;
        font-size: 18px;
    }
}

.image__detail {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.6);
    backdrop-filter: blur(8px);
    width: 100%;
    color: aliceblue;
    height: 100%;
    overflow-y: auto;
    z-index: 50;
}

.close-btn {
    color: powderblue;
    font-size: 3rem;
    position: absolute;
    top: 2%;
    left: 95%;
    cursor: pointer;
}

.image__detail--add-comment {
    color: dodgerblue;
}

.image__detail--comments-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 2rem;
}

.image__detail--title {
    margin: 1rem auto;
    text-align: center;
    color: dodgerblue;
}

.image__detail--img {
    margin: 1rem auto;
    object-fit: cover;
}
.image__detail--creation-date,
.image__detail--description {
    text-align: center;
}

.image__detail--form {
    display: flex;
    flex-direction: column;
}

.image__detail--form button {
    margin: 1rem;
}

.image__detail--comments {
    margin: 0;
    width: 25rem;
}

.comments__header {
    margin-bottom: 0;
    color: dodgerblue;
}

.comments__text {
    color: lightskyblue;
}
